@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

.light-theme{
    background: #efefef;
    color: #333;
}

.dark-theme{
    background: #333;
    color: #efefef;
}

.darkmode_toggle input{
    display: none;
}

.darkmode_toggle label{
	display: block;
	float: left;
	cursor: pointer;
	width: 60px;
	margin: 0;
	padding: 10px;
	background: #bdc3c7;
	color: #869198;
	font-size: 16px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}

.dark-theme .darkmode_toggle label{
    background: #444;
}

.darkmode_toggle label:first-of-type{
	border-radius: 7px 0 0 7px;
}
.darkmode_toggle label:last-of-type{
	border-radius: 0 7px 7px 0;
}