.light-theme {
    background: #efefef;
    color: #333;
}
.dark-theme {
    background: #333;
    color: #efefef;
}

.darkmode-c {
    position: relative;
    display: block;
}

.darkmode-c input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    width: 3cm;
    height: 1cm;
    vertical-align: middle;
}

.darkmode-c input[type="checkbox"] + button{
    display: block;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 3cm;
    height: 1cm;
}

.light-theme .darkmode-c input[type="checkbox"] + button{
    color: #efefef;
    background-color: #333;
    border: 1px solid #333;
}

.dark-theme .darkmode-c input[type="checkbox"] + button{
    color: #333;
    background-color: #efefef;
    border: 1px solid #efefef;
}