@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

.light-theme{
    background: #efefef;
    color: #333;
	transition: .2s;
}

.dark-theme{
    background: #333;
    color: #efefef;
	transition: .2s;
}

body{
	font-family: "Inter", sans-serif;
	width: 720px;
	margin: auto;
}

.light_theme{}

header img{
	width:20%;
}

.head_menu{
	padding-top:2cm;
}

.darkmode_toggle input{
    display: none;
}

.darkmode_toggle label{
	display: block;
	float: left;
	cursor: pointer;
	width: 60px;
	font-size: 16px;
	text-align: center;
	transition: .2s;
	background: #aaa;
	color: #333;
}

.darkmode_toggle .switch_light{
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.darkmode_toggle .switch_dark{
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.darkmode_toggle label:first-of-type{
	border-radius: 7px 0 0 7px;
}
.darkmode_toggle label:last-of-type{
	border-radius: 0 7px 7px 0;
}

.darkmode_toggle span{
	display: block;
	padding:5px;
	transition: .2s;
}

.darkmode_toggle #lightsw{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #efefef;
	color:#aaa;
	transition: .2s;
}

.darkmode_toggle #darksw{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #444;
	color:#aaa;
	transition: .2s;
}

.darkmode_toggle span:hover{
	opacity: 75%;
}

.darkmode_toggle #lightsw[class="1d"]{
	background-color: #aaa;
	color:#333;
}

.darkmode_toggle #darksw[class="1l"]{
	background-color: #aaa;
	color:#efefef;
}